html {
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden; }

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #6223f0;
  padding: 25px;
  color: #fff;
  -webkit-transform: translate(450px);
  transform: translate(450px);
  -webkit-transform: translate3d(450px, 0, 0);
  transform: translate3d(450px, 0, 0);
  -webkit-transition: 400ms ease-in all;
  transition: 400ms ease-in all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.show-nav .nav {
  -webkit-transform: translate(0, 0);
  transform: translate(0px, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.btn-close {
  color: #fff;
  font-size: 25px;
  padding: 1px 11px 4px 10px;
  width: 38px;
  margin-bottom: 20px;
  display: block;
  border-radius: 50px;
  text-decoration: none; }

.he-header {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .he-header__logo {
    padding: 13px 11px;
    width: 56%; }
  .he-header__menuIcon {
    height: 36px;
    padding: 10px 14px 12px; }
    @media (min-width: 740px) {
      .he-header__menuIcon {
        padding: 10px 15px;
        height: 20px; } }
    @media (min-width: 980px) {
      .he-header__menuIcon {
        padding: 10px 15px;
        height: 25px; } }

.he-section {
  background-color: #6223f0;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; }
  .he-section__title {
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0; }

.he-footer {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .he-footer__images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%; }
    .he-footer__images__twitter {
      width: 20%;
      cursor: pointer; }
    .he-footer__images__insta {
      width: 20%;
      cursor: pointer; }
    .he-footer__images__behance {
      width: 28%;
      cursor: pointer; }
    .he-footer__images img {
      width: 100%; }
  .he-footer__view {
    width: 46%;
    display: flex;
    align-items: center; }
    .he-footer__view__projects {
      font-weight: bold;
      font-size: 15px;
      cursor: pointer; }
    .he-footer__view__projects:hover {
      color: red; }
    .he-footer__view__bar {
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
      animation-name: slidein;
      width: 14%;
      height: 3px;
      margin-top: 2px;
      display: block;
      position: absolute;
      background-color: black; }

@keyframes slidein {
  0% {
    right: 2px; }
  50% {
    right: 10px; }
  100% {
    right: 10px; } }
