.he-header {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .he-header__logo {
    padding: 13px 11px;
    width: 40%; }
    @media (min-width: 568px) {
      .he-header__logo {
        width: 25%;
        padding: 13px 40px; } }
  .he-header__hamburguer {
    width: 70px;
    height: 20px;
    display: block;
    position: relative;
    background: none;
    margin: 10px 15px 0px 8px; }
    @media (min-width: 568px) {
      .he-header__hamburguer {
        width: 34px;
        margin: 13px 20px 0px 20px; } }
  .he-header__hamburguer:after, .he-header__hamburguer:before, .he-header__hamburguer span, .he-header__hamburguer label {
    content: ' ';
    display: block;
    width: 100%;
    height: 4px;
    background: black;
    left: 0;
    position: absolute;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
  .he-header__hamburguer:before {
    top: 0; }
  .he-header__hamburguer:after {
    bottom: 0; }
  .he-header__hamburguer:focus {
    outline: none; }
  .he-header__hamburguer label {
    width: 100%;
    height: 100%;
    background: none;
    cursor: pointer;
    z-index: 1000; }
  .he-header__hamburguer span {
    top: 8px; }
  .he-header #change-hamburguer {
    display: none; }
  #change-hamburguer:checked ~ .he-header__hamburguer:before, #change-hamburguer:checked ~ .he-header__hamburguer:after {
    top: 10px;
    margin-top: -10%; }
  #change-hamburguer:checked ~ .he-header__hamburguer:before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #change-hamburguer:checked ~ .he-header__hamburguer:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #change-hamburguer:checked ~ .he-header__hamburguer span {
    opacity: 0; }
  .he-header #change-hamburguer:checked ~ .menu {
    max-height: 200px; }
  .he-header__nav {
    width: 100%;
    height: 80%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10%;
    right: 0;
    background-color: #6223f0;
    color: #fff;
    z-index: 999;
    -webkit-transform: translate(100%);
    transform: translate(100%);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: 400ms ease-in all;
    transition: 400ms ease-in all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    @media (min-width: 980px) {
      .he-header__nav {
        height: 90%;
        top: 5%; } }
    .he-header__nav__ul {
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0; }
      .he-header__nav__ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 38px;
        line-height: 4rem; }
  .he-header__nav:first-child {
    display: none; }

.show-nav .he-header__nav {
  -webkit-transform: translate(0, 0);
  transform: translate(0px, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
