@import '../variables';

html{
  height: 100%;
}


body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  position: relative;
  overflow: hidden;
  

  .he-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    @media (min-width: $breakpoints-desktop) {
      flex-direction: row;
      align-items: normal;
    }

    &__title{
      width: 100%;
      display: flex;
      align-items: flex-end;
      background-color: #6223f0;

      @media (min-width: $breakpoints-desktop) {
        width: 35%;
        margin-left: 2rem;
        justify-content: center;
      }

      &__sub{
        margin: 0 20px 20px;
        padding: 0;
        color: #fff;
        font-size: 30px;
        font-family: 'arial';

        @media (min-width: $breakpoints-desktop) {
          font-size: 40px;
        }
        @media (min-width: $breakpoints-wide) {
          font-size: 70px;
        }
      }

    }
  }

  .he-projects{
    width: 90%;
    margin-top: 20px;

    @media (min-width: $breakpoints-desktop) {
      width: 63%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex: 1 0 auto;
      margin: 0;
    }

    @media (min-width: $breakpoints-wide) {
      width: 59%;
    }

    &__deadpool{
      width: 100%;
      margin-bottom: 10px;

      @media (min-width: $breakpoints-desktop) {
        width: 42%;
        margin: 0;
      }

      img{
        width: 99%;
        height: 94%;
    

        @media (min-width: $breakpoints-wide) {
          width: 98%;
          height: 93%;
        }
      }
     
    }

    &__deadpool:last-child{
      margin: 0;
    }

  }
}
